@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|Indie+Flower|Lobster|Mansalva|Pattaya&display=swap');

:root{
    --accent-color:#0709a3;
    --main-color: grey;
    --text-color: black;
    scroll-behavior: smooth;
}

body {
    width: 980px;
    margin: auto;
}


header nav .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}

header nav .menu a {
    font-family: 'Mansalva', cursive;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid var(--accent-color);
}

header nav .menu {
    flex: 1;
}

header .banner {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: var(--accent-color);
    background-image: url(../img/catering_company_YK.jpg);
    background-size: cover;
    background-position: center;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .text {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: var(--main-color);
    text-indent: 40px;
    padding: 0;
    margin: auto;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-align: center;
    transition: all 0.4s;
    background-color: transparent;
    font: 40 13.3333px Arial;
}

.button:hover {
    color: #7d736d;
    background-color: #FFFFFF;
    cursor: pointer;
}

.card-button {
    border-color: black;
    color: black;
}

.card-button:hover {
    background-color: black;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    animation-name: fadeIn;
    animation-duration: 0.8s
}



label {
    display: grid;
}

.close {
  color: grey;
  float: right;
  font-size: 55px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media all and (max-width:30em) {
    .button {
        margin: 0.4em auto;
    }
}

header h1 {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: var(--accent-color);
    text-align: center;
}
header h2 {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: var(--accent-color);
    text-align: center;
}

header em {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    color: var(--accent-color);
    text-align: center;
}

div.grid-view img {
    display: block;
    width: 100%;
    border-radius: 8px
}

@media (min-width: 640px) {
.grid-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

div.grid-view p {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: var(--black-color);
    text-align: center;
}

div.portfolio-view img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

@media (min-width: 640px) {
.portfolio-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    }
}

@media (min-width: 980px) {
.portfolio-view {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    }
}

div.portfolio-view p {
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    color: var(--black);
    text-align: center;
}

div.about-us-view p {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color: var(--main-color);
    text-align: center;
}

div.menu-view input {
    display: flex;
    width: 45%;
    height: 20px;
    }

div.menu-view label {
    color: var(--accent-color);
    }

.myClass {
    display: flex;
    width: 45.4%;
    height: 26px;
}

div.contact-view {
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color: var(--accent-color);
    text-align: start;
}
